<h1>Active Invoices</h1>
<h5>View Closed Invoices</h2>
<div>
    <table>
        <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <% render 'active-invoices'%>
        <tbody>
    </table>
</div>
            