<h1>Active Invoices</h1>
<%= link_to 'Add New', new_invoice_path, class: "btn btn-success" %>
<div>
    <table id="datatable" data-turbolinks="false" class="display">
        <thead>
            <th>Client</th>
            <th>Address</th>
            <th>Start Date</th>
            <th>Current Total</th>
            <th>Options</th>
            <th></th>
        </thead>
        <tbody>
            <%= render 'active_invoices'%>
        <tbody>
    </table>
</div>
<h5>View Closed Invoices</h5>
            