<div class="client-user-header mt-md-3 mt-2">
    <h2>Active Invoices</h2>
    <%= link_to 'Add New', new_invoice_path, class: "btn btn-success" %>
</div>
<div>
    <table id="datatable" data-turbolinks="false" class="display">
        <thead>
            <th>Client</th>
            <th class="hide-table-col">Address</th>
            <th>Created</th>
            <th class="hide-table-col">Current Total</th>
            <th class="options-col center-col"></th>
        </thead>
        <tbody>
            <%= render 'active_invoices'%>
        <tbody>
    </table>
</div>
<br>
<%= link_to 'View Archives', invoices_archive_path, class: "btn btn-warning ml-3" %>
            