<div id="user-shift-table">
    <table id="datatable" data-turbolinks="false" class="display">
        <thead>
            <tr class="table-header">
                <th>Date</th>
                <th>Client</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            <%= render "user_shift_rows" %>
        </tbody>
    </table>
</div>