<div id="user-shift-table" class="mt-4">
    <h3 id="shift-header"><%= @user.first_name %>'s Shifts</h3>
    <table id="datatable" data-turbolinks="false" class="display">
        <thead>
            <tr class="table-header">
                <th>Date</th>
                <th>Client</th>
                <th>Hours</th>
                <th>Total Headcount</th>
                <th>Total Earned</th>
            </tr>
        </thead>
        <tbody>
            <%= render "user_shift_rows" %>
        </tbody>
    </table>
</div>