<div class="client-user-header mt-md-3">
    <h2>User Archive</h2>
    <%= link_to 'Back to Users', users_path, class: "btn btn-dark" %>
</div>

<div id="user-list-div">
    <%= render partial: "archive_user_list", locals: {users: @users} %>
</div>