<div id="user-add">
</div>

<div class="client-user-header mt-md-3">
    <h2>Users</h2>
    <%= link_to 'Add New', new_user_path, remote:true, class: "btn btn-success" %>
</div>

<div id="user-list-div">
    <%= render partial: "user_list", locals: {users: @users} %>
    <%= link_to 'View Archives', archived_users_path, class: "btn btn-warning mb-3 ml-3" %>
</div>