<div id="user-page" class="col-md-11 m-auto">
    <div id="user-card" class="col-md-5 m-2 mt-md-3 mx-auto mx-md-0 col-11">
        <%= render "user_card" %>
    </div>
    <%= render "user_shifts" %>
</div>
