<div class="row no-gutters mt-md-4 justify-content-around">
    <div class="col-md-5 id-card p-4">
        <%= render "user_card" %>
    </div>
    <div class="col-md-5 budget-block">
        <h1>Coming Soon</h1>
    </div>
</div>
    <%= render "user_shifts" %>
</div>
