<h1>Clients</h1>
<%= link_to 'Add New', new_client_path, class: "btn btn-success" %>
<table id="datatable" data-turbolinks="false" class="display">
    <thead>
        <tr class="table-header">
            <th>First Name</th>
            <th>Last Name</th>
            <th class="center-col">Email</th>
            <th class="center-col">Address</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= render "client_list" %>
    </tbody>
</table>