<div id="client-add">
</div>

<div class="client-user-header">
    <h2>Clients</h2>
    <%= link_to 'Add New', new_client_path, remote: true, class: "btn btn-sm btn-success" %>
</div>

<div id="client-list-div">
    <%= render partial: "client_list", locals: {clients: @clients} %>
</div>