<img src="https://www.shareicon.net/data/256x256/2015/11/08/668668_home_512x512.png" alt="Photo of house">
<h1><%= @client.full_name %></h1>
<p>Email: <%= @client.email %></p>
<p>Address: <%= @client.address %></p>
