<table class="table">
    <thead>
        <tr>
            <th>Material</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Charge</th>
            <th><%= link_to 'Add +', new_shift_path, remote: true, class: "btn btn-sm btn-success float-right" %></th>
        </tr>
    </thead>
</table>

<div class="none-message">
    <p> There's nothing here.<br>Add a material.</p>
</div>