<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>

<div id="add-form" style="display:none;">
</div>

<script>
    $('a').click(function(e) {
        var target = $(e.target);
        if (target.context.attributes["class"].value.slice(0, 8) == "ajax-add") {
            val = target.context.attributes["class"].value.slice(13)
            sessionStorage.setItem("date", val);
        };
        console.log(target);
    });
</script>