<div class="row no-gutters">
  <div id="calendar-container" class="col-md-6">
    <%= render "shift_cal", shifts: @shifts %>
  </div>

  <div id="add-form" class="col-md-6 col-12" style="display:none;">
  </div>

  <div id="day-log-container" class="col-md-5 col-12" style="display:none;">
  </div>
</div>