<div id="calendar-container">
  <%= month_calendar events: @shifts do |date, shifts| %>
    <a href="/shifts/day_log/<%= date %>" data-remote="true" class="shift-check">
    <%= date.day %>
    </a>
    <%# REMOVED SHIFT VIZ %>
  <% end %>
</div>

<div id="add-form" style="display:none;">
</div>

<div id="day-log-container" style="display:none;">
</div>

<script>
    $('.shift-check').click(function(e) {
        var target = $(e.target);
        var targetDate = target.attr("href").slice(-10);
        sessionStorage.setItem("date", targetDate);
    });
</script>