<div id="calendar-container">
  <%= month_calendar events: @shifts do |date, shifts| %>
    <%= date.day %>
    <%# REMOVED SHIFT VIZ %>
  <% end %>
</div>

<div id="add-form" style="display:none;">
</div>

<div id="shift-card-container" style="display:none;">
</div>

<script>
    $('a').click(function(e) {
        var target = $(e.target);
        if (target.context.attributes["class"].value.slice(0, 8) == "ajax-add") {
            var val = target.context.attributes["class"].value.slice(13,23)
            console.log(val);
            sessionStorage.setItem("date", val);
        };
        console.log(target);
    });
</script>