<div class="form-group row">
    <input name="materials[][description]" placeholder="Nom." class="form-control col-sm-3 col-3 mx-2">
    <input type="number" step="any" name="materials[][quantity]" placeholder="#" class="form-control col-sm-2 col-3 mx-2">
    <input type="number" step="any" name="materials[][cost]" placeholder="Costo" class="form-control col-sm-2 col-3 mx-2">
    <input type="hidden" name="materials[][material_id]" id="material-blank-id">
</div>