<div class="form-group row">
    <input name="materials-blank[0][description]" class="form-control col-sm-2 mx-3">
    <input type="number" step="any" name="materials-blank[0][quantity]" class="form-control col-sm-2 mx-3">
    <input type="number" step="any" name="materials-blank[0][cost]" class="form-control col-sm-2 mx-3">
    <input type="hidden" name="materials-blank[0][material_id]" id="material-blank-id">
</div>