/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

#the-view {
    background: #e8ffeb;
    background: -webkit-linear-gradient(#e8ffeb, #ffffff);
    background:    -moz-linear-gradient(#e8ffeb, #ffffff);
    background:         linear-gradient(#e8ffeb, #ffffff);
  }

#datatable {
    display: none;
}

.archive-button {
    display: none;
}

  
   

//TABLE STYLING
.center-col {
    text-align: center;
}

#notice {
    background-color: #c2f3b6
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    font-size: 90%;
}

.options-col {
    white-space: nowrap;
    overflow: hidden;
}

//CLOSE BAR FIX

.close-x {
    float: right;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    position: relative;
    z-index: 10000;
}

@media (max-width: 991.98px){
    .logout-button {
        width: 7em !important;
    }
}