// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.client-user-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: .5em;
}

.id-card {
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
    background-color: #ffffff;
    // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
}

.house-pic-container {
    border: 1px solid #d3d3d3;
}

@media (max-width: 576px) { 
    .hide-table-col {
        display: none;
    }
 }
