// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invoice-body {
    margin-top: 2em;
    background-color: #ffffff;
}

.description-header {
    background-color: #e8e8e8;
    padding: .5em;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.invoice-header {
    margin-top: 1em;

    .invoice-details {
        border-radius: .5em;
        border: 1px solid #a7a7a7;
    }
}

// .subtotal {
//     border: 1px solid rgba(0, 0, 0, 0.315);
//     border-radius: .25rem;
//     padding: 1%;
//     text-align: center;
//     background-color: rgb(225, 252, 223);
//     // box-shadow: 4px 4px 4px #aaaaaa;
// }

.total-row {
    background-color: rgb(250, 255, 249) !important;
    // background-color: rgb(225, 252, 223) !important;
    border-top: 2px solid black;
}

.daily-total-row {
    background-color: rgb(225, 252, 223) !important;
    border: 2px solid black;
    // background-color: rgb(163, 255, 183) !important;
}

.button-target{
    margin-left: 1.5%;
}

#add-button-target{
    margin-left: 1.5%;
    margin-bottom: 1.5%;
}

.invoice-details {
    background-color: #ffffff;
    padding: .4em;
    max-width: 60%;
    margin-left:.5em;
    margin-top: .5em;
    max-height: 4em;
}

@media (max-width: 575.98px) {
    .invoice-date-master.col-md-10 {
        padding-right: 0px !important;
        padding-left: 5px !important;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 52em !important;
    }

    .invoice-details {
        background-color: #ffffff;
        max-height: 4em;
        vertical-align: middle;
        padding: .4em;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 75em !important;
    }
}