// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invoice-body {
    margin-top: 2em;
}

.description-header {
    background-color: #d3d3d3;
    padding: .5em;
}

// .subtotal {
//     border: 1px solid rgba(0, 0, 0, 0.315);
//     border-radius: .25rem;
//     padding: 1%;
//     text-align: center;
//     background-color: rgb(225, 252, 223);
//     // box-shadow: 4px 4px 4px #aaaaaa;
// }

.total-row {
    background-color: rgb(225, 252, 223) !important;
    border-top: 2px solid black;
}