// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description-header {
    background-color: #f5f5f5;
    padding: .5em;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.invoice-header {

    .invoice-details {

        border-radius: .2em;
        border: 1px solid #858484;
    }
}

// .subtotal {
//     border: 1px solid rgba(0, 0, 0, 0.315);
//     border-radius: .25rem;
//     padding: 1%;
//     text-align: center;
//     background-color: rgb(225, 252, 223);
//     // box-shadow: 4px 4px 4px #aaaaaa;
// }

.total-row {
    background-color: rgb(250, 255, 249) !important;
    // background-color: rgb(225, 252, 223) !important;
    border-top: 2px solid #8e8a8a;
}

.daily-total-row {
    background-color: #eefff0 !important;
    border: 2px solid #818181;
    // background-color: rgb(163, 255, 183) !important;
}

.button-target{
    margin-left: 1.5%;
}

.small-show {
    font-size: 50%;
    margin-bottom: 2px;
}

@media (max-width: 575.98px) {
    .invoice-header.border {
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 52em !important;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 75em !important;
    }
}