// Place all the styles related to the invoice_dates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
    font-size: 90% !important;
}


.invoice-date-card {
    width: 100%;
    border: none;
    margin-bottom: 1em;
    padding-top: 1%;
    padding-bottom: 2%;
    border-bottom: 1px solid #d3d3d3;

    .header-date {
        margin-left: .5em;
    }
}

@media (min-width: 576px) {
    .invoice-date-card {
        width: 97%;
        padding: 1% 2% 1% 2%;
        margin: 1% auto;
        border: 1px solid #d3d3d3;
    }

    .table {
        font-size: 100% !important;
    }
}

.invoice-shift-options {
    margin-top: 1%;
}

.invoice-clip-container {
    border-left: 3px solid #d3d3d3;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1% 2%;
}

.table {
    margin-bottom: 0rem !important;
}