// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.landing-img {
    margin-top: 4em;
    margin-bottom: 1em;
}

#calendar-icon {
    filter: contrast(150%);
}