// Place all the styles related to the shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day {
    height: 10em;
    width: 14%;
    border: 1px solid #ddd;

}

#day-log-container {
    margin: .1em auto;
}

.double-btn {
    margin-left: 5%;
}

.today {
    background-color: rgb(199, 255, 192);;
}

.next-month {
    background: #DDD;
}

.table td {
    padding: .3rem !important;
}

.shift-block {
    border-radius: .5em;
    padding: .2em;
    background-color: rgb(230, 169, 161);
}

.card.shift-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%; 
    margin: 0 auto;
    position: relative;
}

#add-form, .shift-card {
    background-color: white;
}

.card-text {
    font-size: 75%;
}

//STYLING FOR THE CALENDAR SELECTION CIRCLE

.date-circle {
    display:inline-block;
    background-color: rgb(252, 178, 168);
    border-radius:50%;
}

.date-circle:before,
.date-circle:after {
    content:'\200B';
    display:inline-block;
    line-height:0px;

    padding-top:50%;
    padding-bottom:50%;
}

.date-circle:before {
    padding-left:4px;
}
.date-circle:after {
    padding-right:4px;
}


//END DATE-CIRCLE STYLING

.card-img.house-img {
    padding: 1em;
}

.shift-card-body {
    font-size: 135%;
    position: relative;
}

.date-code {
    background-color: rgb(230, 169, 161); 
    border-radius: .2em;
    padding: .25em;
}

#close-tab {
    position: absolute;
    right: 0px;
    top: -15px
}

#add-form {
    width: 96%;
    padding: 4% 3%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
}

#calendar-container{
    margin-top: 1em;
    position: relative;
}

.calendar-heading {
    margin-left: .5em;
}

.table thead th {
    vertical-align: middle !important;
    padding: 8px !important;
}

.none-message {
    padding: 1em;
    text-align: center;
}

.close:hover, .close-container:hover {
    cursor: pointer;
}


@media (max-width: 575.98px){
    .table th, .table td {
        max-width: 1em !important;
        height: 3em;
        text-align: center;
        vertical-align: middle !important;
    }

    .table thead th {
        height: 1em;
    }
}

@media (min-width: 992px) {

    .simple-calendar{

        .table th, .table td {
        height: 5em !important;
        }
        
    }
    .table th, .table td {
        // height: 5em;
        text-align: center;
        vertical-align: middle !important;
        font-size: 125%;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        font-size: 100% !important;
    }

    #add-form {

        margin-top: 1em;

        .shift-image-container {
            margin-top: 4em;

            // .placeholder-container {
            //     display: flex;
            //     justify-content: center;
            // }
        }

    }

}