// Place all the styles related to the shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day {
    height: 10em;
    width: 14%;
    border: 1px solid #ddd;

}

.today {
    background-color: rgb(199, 255, 192);;
}

.next-month {
    background: #DDD;
}

.table td {
    padding: .3rem !important;
}

.shift-block {
    border-radius: .5em;
    padding: .2em;
    background-color: rgb(230, 169, 161);
}

.card.shift-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%; 
    margin: 0 auto;
    position: relative;
}

.card-img.house-img {
    padding: 1em;
}

.shift-card-body {
    margin: 2em;
    width: 60%;
    font-size: 135%;
}

.date-code {
    background-color: rgb(230, 169, 161); 
    border-radius: .3em;
    padding: .15em;
}

#close-tab {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 175%;
}

#add-form {
    width: 96%;
    padding: 3%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
}

#calendar-container{
    margin-top: 1em;
    position: relative;
}

.calendar-heading {
    margin-left: .5em;
}

// #shift-btn-add {
//     position: absolute;
//     right: 5%;
// }


@media (max-width: 575.98px){
    .table th, .table td {
        max-width: 1em !important;
        height: 3em;
        text-align: center;
    }

    .table thead th {
        height: 1em;
    }

    // #shift-btn-add {
    //     position: absolute;
    //     right: 5%;
    //     top: -3%;
    // }
}