// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-user-client-card {
    width: 90%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
    padding: 3%;
}

#user-card {
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
    padding: 3%;
    background-color: #ffffff;
    // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
}


#user-shift-table {
    margin-top: 2em;
    border-left: 3px solid #d3d3d3;
    padding: 1% 2%;

}

@media (max-width: 575.98px) { 
    #user-page {
        padding-left: 0em;
        padding-right: 0em;
    }   

    #shift-header {
        padding-left: 3%;
    }
}