<div id="materials-add">
</div>
<div id="materials-container">
    <div class="client-user-header">
        <h2>Materials</h2>
        <%= link_to 'Add New', new_material_path, remote: true, class: "btn btn-success" %>
    </div>
    <table id="datatable" data-turbolinks="false" class="display">
        <thead>
            <tr class="table-header">
                <th>Type</th>
                <th>Cost/Unit</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="materials-tbody">
            <%= render "materials_list" %>
        </tbody>
    </table>
</div>