<<<<<<< HEAD
<p><%= sdate.user.full_name %> Hours: <%= sdate.shift.time_elapsed %> x $<%= sdate.user.hourly_rate %>/hour </p>
=======
>>>>>>> parent of 80aa52b... still working on the ajax close feature within shift_date_form
